.projects{
    height: 100vh;
    position: relative;
    display: flex;
    
}

.projects-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}