.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 20px;
    background-color: #fff;
    height: 10vh;
    max-width: 1200px;
}

.header__link {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

.header__link::before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    bottom: -7px;
    width: 100%;
    z-index: -1;
    background-color: #000000;
    opacity: 0;
    transition: opacity .2s linear;
}

.header__link:hover::before {
    opacity: 1;
}