body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10em;
  margin: auto;
  background-color: lightgray;
}

